<div class="container-scroller bg-light">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>

                <img src="../../../assets/logo/logo bpjs-01.png" alt="logo" width="120%" />

            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                    <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="../../../assets/images/profile/profile.svg"
                            alt="Profile image"> </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="../../../assets/images/profile/profile.svg"
                                alt="Profile image" width="30%">
                            <p class="mb-1 mt-3 font-weight-semibold">Sari XXX</p>
                            <p class="fw-light text-muted mb-0">sari@gmail.com</p>
                            <p class="fw-light text-muted mb-0">coorporat university</p>
                        </div>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign
                            Out</a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">

        </div>
        <!-- partial -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
                    aria-controls="form-elements">
                    <i class="menu-icon mdi mdi-card-text-outline"></i>
                    <span class="menu-title"><a routerLink="/participant/home" style="text-decoration: none;">Beranda</a></span>
                    <i class="menu-arrow"></i>
                </a>
        
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                    <i class="menu-icon mdi mdi-table"></i>
                    <span class="menu-title"><a routerLink="/participant/program-andalan" style="text-decoration: none;">Program
                            Andalan</a></span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                    <i class="menu-icon mdi mdi-calculator"></i>
                    <span class="menu-title"><a routerLink="/participant/i-evaluate/"
                            style="text-decoration: none;">I-Evaluate</a></span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                    <i class="menu-icon mdi mdi-layers-outline"></i>
                    <span class="menu-title"><a routerLink="/participant/proyek-pengembangan"
                            style="text-decoration: none;">Proyek Pengembangan</a></span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#opl" aria-expanded="false" aria-controls="opl">
                    <i class="menu-icon mdi mdi-layers-outline"></i>
                    <span class="menu-title"><a routerLink="/participant/opl" style="text-decoration: none;">One Point
                            Lesson</a></span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
        </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                       
                        <div class="home-tab">
                            <div class="d-sm-flex align-items-center justify-content-between">

                                <div>
                                    <div class="btn-wrapper">

                                    </div>
                                </div>
                            </div>
                            <div class="tab-content tab-content-basic">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                    aria-labelledby="overview">
                                    <div class="row">
                                         <nav aria-label="breadcrumb" style="margin-top:2.6rem;">
                            <ol class="breadcrumb" style="border: none;">
                                <li class="breadcrumb-item"><a routerLink="/participant/home">partisipan</a></li>
                                <li class="breadcrumb-item"><a routerLink="/participant/program-andalan">program-andalan</a></li>
                            </ol>
                        </nav>
                                        <div class="form-outline mb-2">
                                            <input style="box-shadow: 4px;" type="search" class="form-control p-4"
                                                id="datatable-search-input" placeholder="search">
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-light">
                                        <div class="card-image image-fluid">
                                            <img src="../../../assets/images/mathematics.svg" class=" brand-logo p-3"
                                                alt="..."
                                                style="object-fit: contain; background-size: cover; width: 8rem;">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4><a routerLink="/participant/program-andalan-terbit"
                                                style="text-decoration: none; color: black;">Program Andalan A</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus
                                            molestias aliquam dolorum molestiae at ab doloremque, dolor ipsa beatae,
                                            voluptas ea. Explicabo fugit ipsam culpa dolore vel, quaerat deleniti?</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-light ">
                                    <img src="../../../assets/images/physic.svg" class=" brand-logo p-3" alt="..."
                                        style="object-fit: cover; background-size: contain; width: 10.5rem; overflow: hidden;">
                                </div>
                                <div class="card-body">
                                    <h4>Program Andalan B</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas praesentium sed
                                        corrupti corporis a impedit aperiam repellat voluptate in, inventore reiciendis
                                        tempora reprehenderit non ea deleniti autem obcaecati, vel eveniet delectus
                                        commodi. Ipsam, aperiam. Consequuntur adipisci illo, perferendis obcaecati
                                        commodi architecto odit officiis animi voluptatum.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-4">
                            <div class="card-header bg-light">
                                <img src="../../../assets/images/science.svg" class=" brand-logo p-3" alt="..."
                                    style="object-fit: cover; background-size: contain; width: 8.5rem;">
                            </div>
                            <div class="card-body">
                                <h4>program Andalan C</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis esse quidem
                                    repellendus, animi qui veritatis. Sequi nihil commodi repellat sint debitis ex ab,
                                    saepe magnam quis error aperiam, dicta aspernatur, neque id.</p>
                            </div>
                        </div>

                    </div>


                    <nav nav aria-label="Page navigation example">
                        <ul class="pagination mt-3 d-flex justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>

                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">

                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021.
                                All
                                rights reserved.</span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>